.bascket-list {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);


  width: 50rem;
  max-width: 95%;
  box-shadow: 4px 4px 5px gray, -4px -4px 5px gray;
  animation: show 500ms ease-in-out;
}

.cart-title {
  display: flex;
  justify-content: space-between;
}

.basket-close {
  color: red;
  cursor: pointer;
}

.remove-item {
  cursor: pointer;
}

@keyframes show {
  from {
    top: 70%;
    opacity: 0;
  }
  to {
    top: 50%;
    opacity: 1;
  }
}