.cart {
  padding: 1rem;
  position: fixed;
  bottom: 2rem;
  right: 1rem;

  border-radius: 5px;
  background-color: blue;
  color: #fff;

  cursor: pointer;
  z-index: 10;
}

@media (min-width: 768px) {
  .cart {
    top: 5rem;
    bottom: unset;
  }
}